@import "tailwindcss";

@font-face {
  font-family: vcrosdmono;
  src: url("VCR_OSD_MONO_1.001.ttf");
}

@font-face {
  font-family: upheaval;
  src: url("upheavtt.ttf");
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-15%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes smallbounce {
  0%, 100% {
    transform: translateY(-7%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes transform-hover {
  0% {transform: none;}
  100% {transform: translateY(5%)}
}

body {
  cursor: url('images/arcade-cursor.png') 12 12, auto;
}