@import "tailwindcss";

@font-face {
  font-family: vcrosdmono;
  src: url("/VCR_OSD_MONO_1.001.ttf");
}

@font-face {
  font-family: upheaval;
  src: url("/upheavtt.ttf");
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-15%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes smallbounce {
  0%, 100% {
    transform: translateY(-7%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes transform-hover {
  0% {transform: none;}
  100% {transform: translateY(5%)}
}

@keyframes transform-hover-small {
  0% {transform: none;}
  100% {transform: translateY(2%)}
}


@keyframes shadow-pulse {
  0% { 
    text-shadow: 0px 1px 1px #34e4ff33, 0px 1px 2px #34e5ff, 0px 2px 4px #34e5ff;
  }
  100% {
    text-shadow: 0px 1px 2px #34e5ff, 0px 3px 2px #34e5ff, 0px 4px 8px #34e5ff;
  }
}

@keyframes shadow-pulse-drop {
  0% { 
    filter: drop-shadow(0px 1px 1px rgba(255, 255, 255, 0.404)) 
            drop-shadow(0px 1px 2px white) 
            drop-shadow(0px 2px 4px white); 
  }
  100% {
    filter: drop-shadow(0px 1px 2px white)
            drop-shadow(0px 3px 2px white) 
            drop-shadow(0px 4px 8px white);
  }
}

@keyframes shadow-pulse-drop-white {
  0% { 
    filter: drop-shadow(0px 1px 1px #34e4ff33) 
            drop-shadow(0px 1px 2px #34e5ff) 
            drop-shadow(0px 2px 4px #34e5ff); 
  }
  100% {
    filter: drop-shadow(0px 1px 2px #34e5ff, 0px 3px 2px #34e5ff, 0px 4px 8px #34e5ff);
  }
}


@keyframes shadow-pulse-white {
  0% { 
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.404), 0px 1px 2px white, 0px 2px 4px white;
  }
  100% {
    text-shadow: 0px 1px 2px white, 0px 3px 2px white, 0px 4px 8px white;
  }
}

@keyframes rotate-hover {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
}

.customcursor {
  cursor: url('images/arcade-cursor.png') 12 12, auto;
}

.cursorhover{
  cursor: url('images/arcade-cursor-point.png') 12 12, auto;
}

html {
  scroll-behavior: smooth;
}

.scroller__inner {
  display: flex;
  gap: 10vh;
  flex-wrap: wrap;
}

.scroller[data-animated="true"] {
  overflow: hidden;
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll 30s linear infinite;
}

.duplicate {
  display: none;
}

.scroller[data-animated="true"] .scroller__inner .duplicate {
  display: inline;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 5vh));
  }
}

.scroller[data-animated="true"] .scroller__inner:has(.inneritem:hover) {
  animation-play-state: paused;
}

.text-stroke{
  text-shadow: 0px 3px 0px #ffffff, 0px -3px 0px #ffffff, -3px 0px 0px #ffffff, 3px 0px 0px #ffffff, 6px 6px 4px #030659
}

.stripes {
  background: repeating-linear-gradient(
    45deg,
    #f896d8,
    #f896d8 80px,
    #ffd1fd 80px,
    #ffd1fd 160px
  );
}

.schedule-time {
  text-align: center;
  font-weight: bold;
  font-size: 2vh;
  color: #E0479E;
  text-shadow: 0px 3px 0px #ffffff, 0px -3px 0px #ffffff, -3px 0px 0px #ffffff, 3px 0px 0px #ffffff, 4px 4px 8px #030659;
}

.schedule-text {
  text-align: left;
  align-self: center;
  font-size: 2vh;
  font-weight: 150;
  color: #030659;
  text-shadow: 2px 2px 2px #0306597c;
}

.schedule-time:hover {
  color:#34e5ff;
  text-decoration: underline;
  text-decoration-style: wavy;
}

.schedule-text:hover {
  color:#28459b;
  text-decoration: underline;
  text-decoration-style: wavy;
}
